*{
    /* background-color: red; */
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}

main{
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form{
   /*  width: 300px;
    height: 600px; */
    background-color: rgb(171, 226, 224);
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin-top: 15px;

}

.label{
    width: 30vw;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 0.3rem;
}

h1{
    font-size: 1.5rem;
    text-align: center;
    padding: 10px;
}

input{
    height: 1.5rem;
    border-radius: 10px;
}

.btn-enviar{
    background-color: rgb(114, 143, 215);
    width: 10vw;
    height: 30px;
    margin:10px 20px;
 
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.container-form .label{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin:0px 5px;
    
}







.cambiar{
    /*  border: 3px solid red; */
    background-color: rgb(10, 1, 1);
    color: white;
 }